<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watch a Movie</title>
    <!--load bootstrap here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>Watch a Movie</h1>
      <a class="btn btn-info" href="{% url 'movies:index' %}">Back Home</a>
    </div>
    
  </body>
</html>
