* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial';
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/profile.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  margin-left: 750px;
}

.navbar li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a:hover,
.navbar a:active {
  color: #2980b9;
}

header h1 {
  color: white;
  font-size: 60px;
  margin-left: 80px;
  border-bottom: 1px solid white;
  margin-right: 80px;
}

.navoption {
  margin-top: -25px;
  margin-bottom: 30px;
  margin-left: 55px;
}

.navoption li {
  display: inline;
}

.navoption li a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  transition: background-color 0.5s, color 0.5s;
}

.navoption li a:hover,
.navoption li a:active {
  color: #2980b9;
}

h2 {
  color: white;
  margin-bottom: 20px;
}

.plate {
  width: 400px;
  height: 380px;
  border: 1px solid white;
  margin-left: 6%;
  padding: 30px;
}

.comments {
  width: 700px;
  height: 380px;
  border: 1px solid white;
  padding: 30px;
  margin-left: 500px;
  margin-top: -380px;
}

.wrapper{
    background: #eee;
    width: 500px;
}
.wrapper textarea{
    padding: 5px;
    border:none;
    width:100%;
    resize: none;
}
.wrapper textarea:focus{
    outline: none;
}
.controls{
    text-align: right;
    margin-top: -6px;
}
button{
    padding: 10px 25px;
    font-weight: bold;
    color: white;
    background-color: #2980b9;
    border: 1px solid #eee;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

button:hover,
button:visited {
  border: 1px solid white;
  background-color: #1a5073;
}
