* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial';
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/add.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
}

.navbar {
  margin-left: 750px;
}

.navbar li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a:hover,
.navbar a:active {
  color: #2980b9;
}

header h1 {
  color: white;
  font-size: 60px;
  margin-left: 80px;
  border-bottom: 1px solid white;
  margin-right: 80px;
}

.navoption {
  margin-top: -25px;
  margin-bottom: 30px;
  margin-left: 55px;
}

.navoption li {
  display: inline;
}

.navoption li a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  transition: background-color 0.5s, color 0.5s;
}

.navoption li a:hover,
.navoption li a:active {
  color: #2980b9;
}

h2 {
  color: white;
}

.add_plate {
  height: 600px;
  width: 600px;
  margin-left: 10%;
  padding: 30px;
  margin-top: -25px;
  /*border: 1px solid white;*/
}

input {
  display: block;
  margin-bottom: 20px;
  margin-left: -5px;
  border-radius: 5px;
  outline: none;
  padding: 7px 20px;
  width: 450px;
  border: 1px solid #2980b9;
}

p {
  color: white;
  margin: 10px 0px;
}

#submit {
  padding: 10px;
  border-radius: 30px;
  background-color: #2980b9;
  border: 1px solid #2980b9;
  color: white;
  font-size: 18px;
  width: 200px;
  margin-left: 245px;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

#submit:hover,
#submit:visited {
  border: 1px solid white;
  background-color: #1a5073;
}

#fileUpload{
  border: none;
}

textarea {
  border-radius: 5px;
  border: 1px solid #2980b9;
  padding: 7px 20px;
  outline: none;
}

.messages {
  float: right;
  margin-right: 200px;
  margin-top: 100px;
  width: 350px;
  height: auto;
  list-style-type: circle;
  color: white;
  font-size: 15px;
}
