<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Plate</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dish_app/css/style_add.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>

      <h1>Add a Plate</h1>
      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="#">Option 3</a></li>
      </ul>

      <div class="add_plate">
        <form class="" action="#" method="post">
          {% csrf_token %}
          <p>Name:</p> <input type="text" name="name" placeholder="Name">
          <p>Email:</p> <input type="text" name="email" placeholder="Email">
          <p>Password:</p> <input type="password" name="password" placeholder="Password">
          <p>Confirm Password:</p> <input type="password" name="confirm" placeholder="Confirm Password"><br>
          <input id="submit" type="submit" value="Add Plate">
        </form>
      </div>



    </header>
  </body>
</html>
