<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dish App</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'dish_app/css/style.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>
      <h1>Welcome {{user.name}}</h1>

      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="{% url 'dish:profile' id=user.id %}">Your Profile</a></li>
        <li><a href="{% url 'dish:top' %}">Top Plates</a></li>
      </ul>

      <div class="feature">
        <h2 style="margin-bottom: 15px; border-bottom: 1px solid white; text-align: center">Featured Dish</h2>
        <h2 style="text-align: center">{{random.name}}</h2>
        <h2 style="text-align: center; margin-bottom: 10px">(PIC HERE)</h2>
        <h5>Posted By: {{random.user.name}}</h5>
        <h5>From: {{random.restaurant.name}}</h5>
        <h5>Review: {{random.review}}</h5>
      </div>

      <div class="main">
        <h2 style="margin-bottom: 20px">Most Recent</h2>

        {% for plate in plates %}
          <h4><a href="{% url 'dish:show_plate' id=plate.id %}">{{plate.name}}</a> <i style="font-size: 15px">from</i> {{plate.restaurant.name}} <i style="font-size: 15px">posted by</i> <a href="{% url 'dish:profile' id=plate.user.id %}">{{plate.user.name}}</a></h4>
        {% endfor %}
      </div>
    </header>
  </body>
</html>
