<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dish App</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dish_app/css/style.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>
      <h1>Welcome {{user.name}}</h1>

      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="{% url 'dish:profile' id=user.id %}">Your Profile</a></li>
      </ul>

      <div class="feature">
        <h2>Featured Dish</h2>
      </div>

      <div class="main">
        <h2>Most Recent</h2>

        {% for plate in plates %}
          <h4>{{plate.name}} by {{plate.user.name}} on {{plate.created_at}}</h4>
        {% endfor %}

      </div>
    </header>
  </body>
</html>
