<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plate</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dish_app/bootstrap/css/bootstrap.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'dish_app/css/style_plate.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>

      <h1>Plate: {{plate.name}}</h1>
      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="{% url 'dish:profile' id=user.id %}">Your Profile</a></li>
        <li><a href="{% url 'dish:top' %}">Top Plates</a></li>
      </ul>

      <div class="plate">
        <h2>{{plate.likes.count}} Likes</h2>
        {% if not user in plate.likes.all %}
        <a class="btn btn-warning" style="float:right; text-decoration: none; margin-bottom: 10px; margin-top: -50px" href="{% url 'dish:like' id=plate.id %}">Like</a>
        {% else %}
        <button class="btn btn-warning btn disabled" role="button" style="float: right; margin-bottom: 10px; margin-top: -50px">Liked</button>


        {% endif %}

        {% if plate.image %}
        <img src="{{plate.image.url}}" height="300" width="325" style="border: 1px solid white"></img>
        {% endif %}

        <p><span style="font-weight: bold">Posted By: </span>{{plate.user.name}}</p>
        <p><span style="font-weight: bold">Review: </span>"{{plate.review}}"</p>
      </div>

      <div class="comments">
        {% if plate.user.id == request.session.user_id %}
          <a style="float: right; margin-left: 10px; outline: none; text-decoration: none" class="btn btn-danger btn-lg" href="{% url 'dish:delete' id=plate.id %}">Delete Your Plate</a>
        {% endif %}
        <button style="float: right; outline: none" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
            Post a Comment
        </button>

        <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="" action="{% url 'dish:add_comment' id=plate.id %}" method="POST">
                          {% csrf_token %}
                          <label>Comment:</label>
                          <textarea style="resize: none" class="form-control" rows="3" name="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <h2>Comments:</h2>
        {% for comment in comments %}
          <p>"{{comment.text}}"</p>
          <p style="text-indent:1em">- <i>Posted By :</i> {{comment.user.name}} <i>on</i>&nbsp;&nbsp;{{comment.created_at}}
            {% if user == comment.user %}
              <a style="text-indent:0; text-decoration: none; padding: 1px; margin-left: 10px; margin-top: -10px" class="btn btn-danger btn-sm" href="{% url 'dish:delete_comment' id=comment.id %}">Delete</a>
            {% endif %}
          </p>
          <br>
        {% endfor %}
      </div>
    </header>
  </body>
</html>
