<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plate</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dish_app/css/style_plate.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>

      <h1>Plate: {{plate.name}}</h1>
      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="{% url 'dish:profile' id=user.id %}">Your Profile</a></li>
        <li><a href="{% url 'dish:top' %}">Top Plates</a></li>
      </ul>

      <div class="plate">
        <h2>WOOO PIC</h2>
      </div>
    </header>
  </body>
</html>
