<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plate</title>
    
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dish_app/bootstrap/css/bootstrap.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'dish_app/css/style_plate.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>

      <h1>Plate: {{plate.name}}</h1>
      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="{% url 'dish:profile' id=user.id %}">Your Profile</a></li>
        <li><a href="{% url 'dish:top' %}">Top Plates</a></li>
      </ul>

      <div class="plate">
        <h2>WOOO PIC</h2>
        <h3>Posted By:</h3>
        <h3>Review:</h3>
      </div>

      <div class="comments">
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
            Post a Comment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                           data-dismiss="modal">
                               <span aria-hidden="true">&times;</span>
                               <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Modal title
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form role="form">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control"
                              id="exampleInputEmail1" placeholder="Enter email"/>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control"
                                  id="exampleInputPassword1" placeholder="Password"/>
                          </div>
                          <div class="checkbox">
                            <label>
                                <input type="checkbox"/> Check me out
                            </label>
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                                    Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </header>
  </body>
</html>
