<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Plate</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dish_app/css/style_profile.css' %}" media='all'>
    <link rel="stylesheet" href="{% static 'dish_app/css/normalize.css' %}" media='all'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login:aboutme' %}">About</a></li>
          <li><a href="{% url 'login:register' %}">Register</a></li>
          <li><a href="{% url 'dish:logout' %}">Logout</a></li>
        </ul>
      </nav>

      <h1>User Profile</h1>
      <ul class="navoption">
        <li><a href="{% url 'dish:index' %}">Home</a></li>
        <li><a href="{% url 'dish:add' %}">Add Plate</a></li>
        <li><a href="{% url 'dish:profile' id=user.id %}">Your Profile</a></li>
        <li><a href="{% url 'dish:top' %}">Top Plates</a></li>
      </ul>

      <div class="profile">
        <h2>Info</h2>
        <h3>Name: {{user.name}}</h3>
        <h3>Email: {{user.email}}</h3>
        <h3>Member Since: {{user.created_at}}</h3>
      </div>

      <div class="reviews">
        <h2>Plates Submitted</h2>
        {% for plate in plates %}
          <li><a href="{% url 'dish:show_plate' id=plate.id %}">{{plate.name}}</a></li>
        {% endfor %}
      </div>
    </header>
  </body>
</html>
